extends layout

block content
    h1 编辑内容
    div#epiceditor
    textarea#etext(style='display:none;')= content
    br
    button.btn.btn-default#addMainButton(type='button') 提交
    
    script(type="text/javascript" src='http://cdn.bootcss.com/jquery/2.1.4/jquery.js')
    script(type="text/javascript" src='/javascripts/epiceditor.js')
    script.
        var opts = {
          container: 'epiceditor',
          textarea: 'etext',
          basePath: 'epiceditor',
          useNativeFullscreen: true,
          parser: marked,
          button: {
            preview: true,
            fullscreen: true,
            bar: "auto"
          },
          focusOnLoad: false,
          shortcut: {
            modifier: 18,
            fullscreen: 70,
            preview: 80
          },
          string: {
            togglePreview: 'Toggle Preview Mode',
            toggleEdit: 'Toggle Edit Mode',
            toggleFullscreen: 'Enter Fullscreen'
          },
          autogrow: false
        }
        var editor = new EpicEditor(opts)
        editor.load();
        
        $('#addMainButton').click(function(){
            var content = $('#etext').val()
            $.ajax({
               url:'/editMain',
               type:'POST',
               data:{content : content},
               success:function(msg){
                    if(msg == 'ok'){
                       window.location.href="/"; 
                    }else{
                      alert(msg)
                    }
                    
               },
               error:function(msg){
                    alert(msg)
               }         
            });
        });